<!-- Tailwind Custom Animation -->
@keyframes progress {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
#progressBarx {
    background-color: #FFEB3B; /* Light yellow */
}

/* Blue text inside the progress bar */
.font-minecraft {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px; /* Adjust the size if needed */
    font-weight: normal;
    color: #2196F3; /* Blue color for the text */
}

.font-minecraft {
    font-family: 'Press Start 2P', cursive; /* Or any other blocky font */
    font-size: 14px; /* Adjust the size if needed */
    font-weight: normal; /* Minecraft-style font is usually normal weight */
    color: white;
}

.draggable-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    padding: 10px;
    cursor: grab;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.draggable-header:active {
    cursor: grabbing;
}
.highlight {
    @apply bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-white font-semibold shadow-md transition-all;
    border-left: 4px solid #10b981; /* Green accent */
}

/* Dark mode support using media query */
@media (prefers-color-scheme: dark) {
    .highlight {
        background-color: #374151; /* Tailwind gray-700 */
        color: white;
    }
}
.highlight th {
    color: #0f172a; /* Tailwind slate-900 for dark, defined text */
    dark:text-white; /* Maintain white text in dark mode */
    font-weight: 700; /* Extra bold for headers */
}

.tooltip {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
}

 